@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Top Ssection with Hambuger */
.navbar {
  background-color: #445942;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}
 /* The X */
.menu-bars {
  background: none;
  color: #dad2ba;
  margin: 0;
  padding: 10px 10px 0px 10px;
  font-size: 3rem;  
}

/* Sidebar Menu */
.nav-menu {
  background: #c3d3b2;
  color: #445942;
  width: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  /* z-index */
  z-index:10
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

/* Sidebar 😺🐶🦊 */
.nav-text {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 50px;
}

.nav-text a {
  background: none;
  text-decoration: none;
  font-size: 28px;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.nav-text a:hover {
  background-color: #445942;
  color: #fff;
}

/* The X */
.nav-menu-items {
  width: 100%;
}

/* Hamburger and X */
.navbar-toggle {
  background-color: #445942;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;
}

/* span {
  margin-left: 16px;
  font-weight: bold;
} */

/* KC */
main {
  background: #a1b88d;
  min-height: 100vh;
/*   margin-top: 0; */
  padding: 10px 0 50px 0;
  gap: 10px;  
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;  
  text-align: center;
  color: #445942;
  font-weight: bold;
}

button {
  background: #dad2ba;
  color: #445942;
  width: 90%;
  padding: 5px;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 10px;
}

button:hover {
  background: #445942;
  color: #dad2ba;
}

img {
  width: 90%;
  border: #445942 5px solid;
  border-radius: 10px;
}

.a {    
  background: #445942;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

main a {
   color: #dad2ba; 
}

/* Cat Fact*/
.cat_fact {
  background: #dad2ba;
  color: #445942;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 30px 10px 10px 30px;
  text-align: left;
  border-right: 5px solid #445942;
  border-left: 20px solid #445942;
  font-size: x-large;
  font-weight: bold;
  box-shadow: 5px 5px 5px 0 #333333, 0 5px 5px 0 #333333;
}

/* Eye */
.eye {
  margin: 0;
  padding: 0;
  font-size: 15em;
}
.h1 {
  margin: 10px;
  padding: 5px;
  border-top: #445942 3px dotted;
  border-bottom: #445942 3px dotted;
}

/* Anime */
.anime_img_container {

}